<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Main_suite">
    <listeners>
        <listener class-name="test.java.Utils.Listener"/>
        <listener class-name="test.java.Utils.AnnotationTransformer"/>
    </listeners>
    <test name="Main_test">
        <classes>
            <class name="test.java.Test.GenTest">
                <methods>
                    <include name="titleHomePageCheck"/>
                    <include name="titleEveningCoursesPageCheck"/>
                    <include name="titleDayCoursesPageCheck"/>
                    <include name="titleContactsPageCheck"/>
                    <include name="callbackFormCheckPos"/>
                    <include name="callbackFormCheckNeg"/>
                    <include name="eveningCoursesCheck"/>
                    <include name="dayCoursesCheck"/>
                    <include name="eveningCoursesPriceCheck"/>
                    <exclude name="testFail"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>